body
  font-family       'Inconsolata', sans-serif
  color             #777
  background-color  #eee
  text-transform    lowercase
  font-size         18px

ul
  list-style-type   none

table
  &.horizontal
    tr
      td
        padding-right  20px

        &:first-child
          font-weight   bold

.weather-icon
  display           inline
  position          relative
  top               12px
  left              4px
