body
  font-family       'Inconsolata', sans-serif
  color             #777
  background-color  #eee
  text-transform    lowercase
  font-size         18px

ul
  list-style-type   none

table
  &.horizontal
    tr
      td
        padding-right  20px

        &:first-child
          font-weight   bold

.weather-icon
  display           inline
  position          relative
  top               12px
  left              4px

p
  &.warn
    color           #b8b665

  &.avoid
    color           #992222

@media only screen and (min-width: 560px) and (max-device-width: 1136px)
  body
    width           560px

  #main-content
    font-size       36px

  h1
    font-size       64px

  h2
    font-size       50px

  h3
    font-size       42px
